.loader {
    /* Position the loader */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    visibility: hidden;

    /* Create the spinner */
    border: 16px solid rgba(255, 255, 255, 0.2); /* Make the "track" of the spinner lighter */
    border-radius: 50%;
    border-top: 16px solid #ffffff; /* The "progress" of the spinner is white */
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    /* Add a box shadow for a 3D effect */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}